force-app/main/default/flows/on_cutoff_change_update_cleared_cutoff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>on_cutoff_change_update_cleared_cutoff {!$Flow.CurrentDateTime}</interviewLabel>
    <label>on_cutoff_change_update_cleared_cutoff</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_sutdent_test_cleared_cutoff_1</name>
        <label>update_sutdent_test_cleared_cutoff_1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>update_sutdent_test_cleared_cutoff_2</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>event_cutoff__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.student_marks_scored__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>has_cleared_cutoff__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_sutdent_test_cleared_cutoff_2</name>
        <label>update_sutdent_test_cleared_cutoff_2</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>1</filterLogic>
        <filters>
            <field>event_cutoff__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.student_marks_scored__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>has_cleared_cutoff__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_sutdent_test_cleared_cutoff_1</targetReference>
        </connector>
        <object>RC_student_test__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
